#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

body {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  background-color: white;
}

.pokemartLogo {
  padding-top: 10px;
  padding-right: 5px;
  width: 300px;
}

.img-back {
  background-color: #4988df;
}

.productsMap {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.itemCard {
  margin: 20px;
  width: 100px;
  background-color: grey;
  height: 135px;
}

.itemCard:hover {
  transform: rotate(5deg);
}

.imageCard {
  width: calc(100% / 3);
}

.product-image {
  background-color: #f4f0d6;
  padding: 10px;
  margin-top: 10px;
  width: 60px;
}

.productName {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 8px;
  color: white;
}

.productDetails {
  background-color: #f4f0d6;
}

.details-text {
  font-family: 'Press Start 2P', sans-serif;
  color: black;
  margin: 0 auto;
  height: 100%;
}

@media screen and (width >= 600px) {
  .imageCard {
    width: calc(100% / 4);
  }
}

@media screen and (width >= 750px) {
  .imageCard {
    width: calc(100% / 5);
  }
}

@media screen and (width >= 800px) {
  .imageCard {
    width: calc(100% / 6);
  }
}

@media screen and (width >= 900px) {
  .imageCard {
    width: calc(100% / 7);
  }
}
